html, body {
  font-size: 16px;
}

h3 {
    text-align: center;
    color: #000;
}

#timerLabel {
  color: #000;
  font-size: 3rem;
  text-align: center;
}

#buttons {
  font-size: 3rem;
  text-align: center;
}

#startBtn, #stopBtn, #resetBtn {
  font-size: 1.5rem;
  border-radius: .5rem;
}